# Binaries for programs and plugins
main
src

*.exe
*.exe~
*.so
*.dylib
*.dll

# Ignore binary output folders
bin/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

# ENV
.env

# vweb and database



.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.*.js.timestamp-*
vite.*.ts.timestamp-*
*.log