<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
		<link rel="icon" href="./favicon.png" />
		<meta name="viewport" content="width=device-width" />
		
		<link href="./_app/immutable/assets/0.f0e27fc2.css" rel="stylesheet">
		<link rel="modulepreload" href="./_app/immutable/entry/start.354e316c.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/scheduler.e108d1fd.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/singletons.6bd52aeb.js">
		<link rel="modulepreload" href="./_app/immutable/entry/app.f25a20b9.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/index.1c70bbaf.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/0.e0fec96d.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/2.3714d409.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/each.e59479a4.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">  <nav class="flex flex-row list-none justify-evenly bg-slate-500 text-white" data-svelte-h="svelte-1513qvx"><li><a href="/">New Api</a></li> <li><a href="/test">Test</a></li></nav> <div class="border w-full h-screen p-1 bg-gray-200"><div class="border bg-white w-full h-60 flex flex-row justify-between pt-1 pl-1"><div class="border w-[79vw] h-57"><div><div>SRV NAME:

					<select name="srv_list" id="srv_list" class="ml-5 mr-5"></select> <input type="submit" value="NEW API" class="border pr-4 pl-4 bg-red-600 text-white float-right rounded-sm"></div> <hr> <div data-svelte-h="svelte-4llspp"><div>API CONTENT:</div> <div><input class="border w-full" id="api_content" name="api_content" placeholder="Enter the Api Content."></div></div></div></div> <div class="border w-[29vw] h-57"><div>SRV NAME:
				<input type="submit" value="NEW SRV" class="border pr-4 pl-4 bg-orange-600 text-white float-right rounded-sm"> <input class="border w-full" id="srv_name" name="srv_name" placeholder="Enter the Srv Name."></div></div></div> <div class="border bg-white w-full h-[74vh]"><div class="h-[44vh] overflow-y-scroll border"><table class="w-full border border-separate text-sm"><tr class="text-left" data-svelte-h="svelte-1uzhdsy"><th class="w-[2vw] text-center">#</th> <th class="w-[9vw]">API_NAME</th> <th>API CONTENT</th> <th class="w-[4vw] text-center">VALID</th> <th class="w-[5vw] text-center">TEST CNT</th> <th class="w-[6vw] text-center">OPERATION</th></tr> </table></div> <hr> <div class="h-[28vh] overflow-y-scroll text-sm p-1"><pre></pre></div></div></div> 
			
			<script>
				{
					__sveltekit_cybqjd = {
						base: new URL(".", location).pathname.slice(0, -1),
						env: {}
					};

					const element = document.currentScript.parentElement;

					const data = [null,null];

					Promise.all([
						import("./_app/immutable/entry/start.354e316c.js"),
						import("./_app/immutable/entry/app.f25a20b9.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 2],
							data,
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
	</body>
</html>
