<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Permissions-Policy" content="interest-cohort=()">
		<link rel="icon" href="./favicon.png" />
		<meta name="viewport" content="width=device-width" />
		
		<link href="./_app/immutable/assets/0.48dedbe1.css" rel="stylesheet">
		<link rel="modulepreload" href="./_app/immutable/entry/start.1251020e.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/scheduler.e108d1fd.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/singletons.310055ab.js">
		<link rel="modulepreload" href="./_app/immutable/entry/app.43d237af.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/index.1c70bbaf.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/0.24824440.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/3.24bb4778.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">  <nav class="flex flex-row list-none justify-evenly bg-slate-500 text-white" data-svelte-h="svelte-1513qvx"><li><a href="/">New Api</a></li> <li><a href="/test">Test</a></li></nav> <p class="h1"></p> <div class="flex flex-row justify-start h-[100vh] p-1 mt-[5px] text-lg"><div class="border w-[10vw]" data-svelte-h="svelte-1skx9qd">SRV LIST:
	</div> <div class="border w-[90vw] ml-1 bg-gray-200"> <div class="border bg-white h-60 p-1" data-svelte-h="svelte-cx9q6b"><h1>api list:</h1></div> <div class="border bg-white h-36 p-1" data-svelte-h="svelte-pfw428"><h1>api info:</h1></div> <div class="border bg-white h-[60vh] p-1" data-svelte-h="svelte-hcog85"><h1>received message:</h1> <div class="flex flex-row justify-evenly"><div class="border w-full h-[56vh]">left:</div> <div class="border w-full h-[56vh]">right</div></div></div></div></div> 
			
			<script>
				{
					__sveltekit_ne7q6o = {
						base: new URL(".", location).pathname.slice(0, -1),
						env: {}
					};

					const element = document.currentScript.parentElement;

					const data = [null,null];

					Promise.all([
						import("./_app/immutable/entry/start.1251020e.js"),
						import("./_app/immutable/entry/app.43d237af.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 3],
							data,
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
	</body>
</html>
